<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Songs</title>
</head>
<body>
    <header>
        <h1>Hola {{ group_name }}!</h1>
    </header>

    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Songs</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>

    <main>
        <section>
            <h2>About Me</h2>
            <p>This is Going GOOOOD.</p>
        </section>

        <section>
            <h2>List of loved songs</h2>
            <ul>
                <li>Encore et Encore</li>
                <li>Je vais t'aimer</li>
                <li>Resiste!</li>
            </ul>
        </section>
    </main>

    <footer>
        <p>&copy; {{ current_year }} Done By Samaneh</p>
    </footer>
</body>
</html>
